/*=======================================================================================
    Page Default Set
=========================================================================================*/
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*=======================================================================================
    Button
=========================================================================================*/
.div-button {
    padding: 40px 80px;
}