<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/tabOrder.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script defer src="/tabOrder.js"></script>
  </head>
  <body>
    <div class="button-area">
      <div class="div-button ft-size-36" id="btn-admin">관리자</div>
      <div class="div-button ft-size-36" id="btn-user">손님</div>
    </div>
  </body>
</html>