<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/user.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script defer src="../js/user.js"></script>
  </head>
  <body>
    <div class="left-menu">
        left
    </div>
    <div class="right-menu">
        <div class="right-top-menu">
            top
            <div class="div-button" id="btn-main">메인으로</div>
            <div class="div-button" id="btn-fullscreen">전체화면</div>
        </div>
        <div class="right-body">
            body
            <div class="div-button">주문하기</div>
        </div>
    </div>
  </body>
</html>